<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="PlantVisorPRO" version="2.5">
  <display-name>watchDog</display-name>
  <session-config>
    <session-timeout>240</session-timeout>
  </session-config>
  <servlet>
    <servlet-name>weixin</servlet-name>
    <servlet-class>watchDog.controller.Weixin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>weixin</servlet-name>
    <url-pattern>/servlet/wx</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>site</servlet-name>
    <servlet-class>watchDog.controller.MySites</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>site</servlet-name>
    <url-pattern>/servlet/site</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>resetalarm</servlet-name>
    <servlet-class>watchDog.controller.AlarmAJAX</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>resetalarm</servlet-name>
    <url-pattern>/servlet/resetalarm</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>valuerefresh</servlet-name>
    <servlet-class>watchDog.controller.ValueRefreshAJAX</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>valuerefresh</servlet-name>
    <url-pattern>/servlet/valuerefresh</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>managealarm</servlet-name>
    <servlet-class>watchDog.controller.ManageAlarm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>managealarm</servlet-name>
    <url-pattern>/servlet/managealarm</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getData</servlet-name>
    <servlet-class>watchDog.controller.GetData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getData</servlet-name>
    <url-pattern>/servlet/getData</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>auth</servlet-name>
    <servlet-class>watchDog.controller.Auth</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>auth</servlet-name>
    <url-pattern>/servlet/auth</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeviceCheck</servlet-name>
    <servlet-class>watchDog.controller.DeviceCheckAJAX</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeviceCheck</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
</web-app>